<div class="accordion" id="accordionExample">
  <div>
    <div class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne">
      Item #1
    </div>
   <div id="collapseOne" class="collapse" data-parent="#accordionExample">
      <div  >
          <h1>One</h1>
        </div>
        <div>
            <h1>One_2</h1>
          </div>
   </div>
  </div>


  <div>
    <div class="btn btn-primary" data-toggle="collapse" data-target="#collapseTwo">
      Item #2
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
      <h1>Two</h1>
    </div>
  </div>


  <div>
    <div class="btn btn-primary" data-toggle="collapse" data-target="#collapseThree">
      Item #3
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordionExample">
      <h1>Three</h1>
    </div>
  </div>
</div>
